.info {
    background-color: #f2f2f2;
    padding: 20px;
}

.infotext {
    text-align: center;
}

.infotext h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.infotext h2 {
    font-size: 18px;
    color: #666;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

/* Add any additional CSS styles for the home page here */
