/* main{
    margin-top: 4px;
    font-size: large;
    display: flex;
    justify-content: space-between;
   
} */



.info {
    margin: 0px;

}

.info h1 {
    font-size: 40px;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
    color: black;
}

h1,
h2 {
    text-align: center;
}