
/* main{
    margin-top: 4px;
    font-size: large;
    display: flex;
    justify-content: space-between;
   
} */

.info{
    background-image: url("../assets/shul.jpg");
    background-size: cover;
    background-position: center;
    margin-top: 8px;

    width: 33%;
    border: 1px solid black;
    padding: 16px;
    height: fit-content;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: large;

    
   
}
.infotext{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    height: 50vh;  
    text-align: center;
    justify-content: center; 
}