
.prayersTimes{
    text-align: center;
    margin-top: 8px;
    padding: 16px;
    height: fit-content;
    min-height: 50vh;
    border: 1px solid black;
    /* background-image: url("../assets/border.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */

    }

   
